.Game {
  background-color: white;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Game-one {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}
.Game-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Game-two-buttonSet {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media (min-width: 800px) {
  .Game-two-buttonSet {
    width: 50%;
  }
}
