/* phone */
.index-phone {
  height: 90dvh;
  width: 90dvw;
  padding: 5dvh 5dvw;
  display: flex;
  flex-direction: column;
}
.index-header-phone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-title-phone {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.index-buttons-container-phone {
  display: grid;
  gap: 1rem;
}
.index-icons-container-phone {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.index-center-phone {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
/* desktop */
.index {
  height: 80dvh;
  width: 80dvw;
  padding: 10dvh 10dvw;
}
.index-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.index-title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.index-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
:root {
  --breakpoint-for-desktop: 961;
}
