/* phone */
.singleplayer-phone {
  height: 90dvh;
  width: 90dvw;
  padding: 5dvh 5dvw;
}
/* desktop */
.singleplayer {
  height: 80dvh;
  width: 80dvw;
  padding: 10dvh 10dvw;
}
.singleplayer-hud-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #888888;
  width: 33%;
}
